@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Inconsolata', monospace;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;

}

h1 {
  color: black;
  font-size: 16pt;
}

h2{
  color: black;
  font-size: 13pt;
}

h3{
  color: white;
  font-size: 10pt;
}

a {
color: white;
text-decoration: none;
}

/* Centers images */

img {
display: block;
margin: 0px auto;
}

b{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

g{
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
